body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

#home-section {
  /* background: url(../img/home.jpg); */
  background: url(../img/java_gears.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0px -200px;
  min-height: 700px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7)
}

#home-section .home-inner {
  padding-top: 150px;

}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas,
#create-section .fas {
  color: #008ed6;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#explore-section .fas,
#signup-section .fas {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.k-sidebar {
  color: whitesmoke;
  font-size: 30px;
}

.k-sidebar-det {
  color: whitesmoke;
  /* border: 1px solid whitesmoke; */
  border-radius: 25px;
}

.k-inline {
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 5px;
  /* padding: 5px 0px 5px 0px; */
}

.k-text {
  /* color:var(--ctext); */
  /* text-shadow: 3px 3px 4px var(--cbg); */
}

.k-timeline-title {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.float-right {
  float: right;
  padding-top: 7px;
  padding-right: 10px;
}

.float-left {
  float: left;
  padding-top: 7px;
  padding-left: 10px;
}

.button {
  position: absolute;
  top: 50%;
}

.k-wrapper {
  text-align: center;
  margin: 5px 0px 5px 0px;
}

.heading {
  font-size: 8vw;
  /* text-shadow: 4px 4px 0px #008ed6; */
  text-shadow: 4px 4px 0px whitesmoke;
  mix-blend-mode: screen;
  animation: fadeIn 4s linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}

.topSlice,
bottomSlice {
  height: 100px;
  width: 100%;
}

.topSliceImage,
bottomSliceImage {
  width: 100%;
  height: 100px;
}

.lettuce {
  opacity: 75%;
}

.jsChangeComment {
  border-radius: 10px;
  padding: .5rem;
}

.jsChangeComment:hover {
  text-decoration: none;
  cursor: pointer;
}

.originalCommentHolder,
.originalCommentH1,
.swappedCommentHolder,
.swappedCommentH1 {
  display: inline-block;
  margin-bottom: 30px;
}


.swappedCommentH1 {
  animation-name: moveInLeft;
  animation-duration: 1s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    opacity: 0.8;
    transform: translateX(10px);

  }

  100% {
    opacity: 1;
    transform: translate(0);

  }
}