:root {
    --text: whitesmoke;
    --border: whitesmoke;
    --line: black;
}

body {
    margin: 0;
    padding: 0;
    /* background: rgb(230, 230, 230); */

    /* color: rgb(50, 50, 50); */
    font-family: 'Open Sans', sans-serif;
    font-size: 112.5%;
    line-height: 1.6em;
}

/* ================ The Timeline ================ */

.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    /* background: rgb(80, 80, 80); */
    background: black;
    background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, var(--line) 8%, var(--line) 92%, rgba(80, 80, 80, 0) 100%);
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1))); */
    background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, var(--line) 8%, var(--line) 92%, rgba(80, 80, 80, 0) 100%);
    background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, var(--line) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, var(--line) 8%, var(--line) 92%, rgba(80, 80, 80, 0) 100%);
    background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, var(--line) 8%, var(--line) 92%, rgba(80, 80, 80, 0) 100%);

    z-index: 5;
}

.timeline li {
    /* padding: 1em 0; */
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
}

.direction-r {
    position: relative;
    width: 300px;
    float: right;
    text-align: left;
}

.flag-wrapper {
    position: relative;
    display: inline-block;

    text-align: center;
}

.flag {
    position: relative;
    display: inline;
    background: #007bff;
    padding: 6px 10px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 600;
    text-align: left;

}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);

}

.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -38px;
    content: ' ';
    display: block;
    width: 15px;
    height: 15px;
    margin-top: -5px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(210, 0, 0);
    z-index: 10;
}

.direction-r .flag:before {
    left: -38px;
}

.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: #007bff;
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: #007bff;
    border-width: 8px;
    pointer-events: none;
    /* left: -81px; */

}

.time-wrapper {
    display: inline;
    line-height: 1em;
    font-size: 0.8em;
    /* color:black; */
    color: #007bff;
    vertical-align: middle;
}

.direction-l .time-wrapper {
    float: left;
}

.direction-r .time-wrapper {
    float: right;
}

.time {
    visibility: hidden;
    display: inline-block;
    padding-top: 5px;
    padding-right: 6px;
    padding-bottom: 5px;
    padding-left: 6px;
    background: rgb(196, 194, 194);
    border-style: ridge;
    border: 1px solid whitesmoke;
    border-radius: 5px;

}

.desc {
    margin: 0.5em 2em 0 0;
    color: whitesmoke;
    font-size: 0.9em;
    line-height: 1.5em;
    color: black;
}

.direction-r .desc {
    margin: 0.5em 0 0 2em;
}